@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

* {
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #464646;
    background: #f8f9fb;
}

img {
    width: 100%;
    height: auto;
}

.header {
    color: #2185d0 !important;
    border: none;
    display: flex;
    align-items: center;
    margin: calc(2rem - .14285714em) 0 1rem;
    padding: 0;
    font-weight: 500;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    justify-content: center;

    svg {
        margin: 0 6px;
    }
}

.dropdown {
    height: 40px;
    z-index: 1000;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    transform: rotateZ(0deg);
    min-width: 56px;
    min-height: 40px;
    background: #FFFFFF;
    display: inline-block;
    padding: 10px 15px 9px 15px;
    color: #93959B;
    box-shadow: none;
    border: 1px solid #93959B;
    border-radius: 4px;
    transition: box-shadow 0.1s ease, width 0.1s ease;

    option {
        display: inline-flex !important;
        margin: 0;
        z-index: 1001;
        margin-top: 8px;
        box-shadow: inset 0 -2px 0 0 #93959B;
        font-family: 'Avenir Next';
        display: flex !important;
        height: initial;
        max-height: 224px;
        margin-top: 8px;
        border-top: 1px solid #93959B !important;
        flex-direction: column;
    }

    &:hover {
        border-color: #93959B;
        box-shadow: inset 0 -2px 0 0 #93959B;
    }

    &:focus {
        border-color: #96C8DA;
        box-shadow: inset 0 2px 0 0 #93959B;
    }
}

.dropdown:not(.button) > .default.text, .dropdown:not(.button) > .text {
    color: #93959B;
}

#form {
    width: 500px;
    max-width: 90%;
    height: auto;
    margin: 40px auto;

    input {
        margin: 10px 0;
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        outline: 0;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 19px;
        font-family: 'Avenir Next','Helvetica Neue',Arial,Helvetica,sans-serif;
        padding: 10px 15px 9px;
        background: #fff;
        border: 1px solid #edf0f3;
        color: #282c37;
        border-radius: 4px;
        -webkit-transition: box-shadow 0.1s ease,border-color 0.1s ease;
        transition: box-shadow 0.1s ease,border-color 0.1s ease;
        box-shadow: inset 0 2px 0 0 rgba(237, 240, 243, 0.4);

        &.name {
            width: 50%;
            float: left;

            &:first-child {
                width: 45%;
                margin-right: 5%;
            }
        }

        &:focus {
            border-color: rgba(0, 0, 0, 0.3);
            background: #fafafa;
            color: #282c37;
            box-shadow: inset 0 2px 0 0 rgba(147, 149, 155, 0.4);
        }
    }
}

#preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    .content {
        width: 50%;
        height: 50%;
        padding: 16px;
        margin: 10vh auto 0;
        background: white;
        position: relative;
        box-shadow: 0 6px 30px 0 rgba(2, 0, 0, 0.3);

        .button.close {
            position: absolute;
            bottom: 16px;
            right: 16px;
        }
    }
}

.urlInput {
    display: inline;
    width: 34% !important;
}

.button {
    box-sizing: border-box !important;
    cursor: pointer;
    width: 49.5%;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: #282c37;
    margin: 10px 0;
    padding: 0.78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 600;
    line-height: 19px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &.primary {
        &:active {
            color: #aad2ef;
            box-shadow: inset 0 2px 0 0 #0751b8;
        }

        &:hover {
            box-shadow: inset 0 -2px 0 0 #0751b8;
            background-color: #2b90d9;
        }
    }

    &.primary {
        max-width: 160px;

        &.button:hover,
        &.buttons .button:hover {
            background-color: #1b84cf;
            color: #fff;
            text-shadow: none;
        }

        &.button {
            color: #fff !important;
            color: #fff;
            border: 1px solid #0751b8;
            background-color: #2b90d9;
        }
    }

    &.success {
        color: #fff;
        border: solid 1px #07b893;
        background-color: #2bd9c2;

        &:hover {
            box-shadow: inset 0 -2px 0 0 #07b893;
            background-color: #2bd9c2;
        }

        &:active {
            color: #aaefe6;
            box-shadow: inset 0 2px 0 0 #07b893;
        }
    }

    &.outline {
        color: #07b893;
        background-color: #fff;

        &:hover {
            box-shadow: inset 0 -2px 0 0 #07b893;
            background: white;
        }

        &:active {
            box-shadow: inset 0 2px 0 0 #07b893;
        }
    }
}

.selection-dropdown {
    cursor: pointer;
    word-wrap: break-word;
    height: 40px;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    transform: rotateZ(0deg);
    min-width: 100px;
    min-height: 40px;
    background: #FFFFFF;
    display: inline-block;
    padding: 10px 15px 9px 15px;
    color: #93959B;
    box-shadow: none;
    border: 1px solid #93959B;
    border-radius: 4px;
    transition: box-shadow 0.1s ease, width 0.1s ease;

    &:hover {
        border-color: #93959b;
        box-shadow: inset 0 -2px 0 0 #93959b;
    }
}

@media (max-width: 800px) {
    #form {
        margin: 0 auto;
    }

    #preview .content {
        width: 80%;
    }
}

@media (max-width: 520px) {
    #preview .content {
        width: 95%;
    }

    .header {
        font-size: 6vw;
    }

    .button {
        width: 100%;
    }
}